<!DOCTYPE html>
<html>
	<head>
		<title>
			contact
		</title>
		<link href="style.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<a href="/" target="_blank">
				aleksandra kolanko
			</a>
		</div>
		<div id="container">
			<div id="navside">
				<ul id="navcol">
					<li>
						<a href="/gallery" target="_blank">
							<button class="buttonhome">gallery</button>
						</a>
					</li>
					<li>
						<a href="http://www.etsy.com/shop/AleksandraKolanko" target="_blank">
							<button class="buttonhome">shop</button>
						</a>
					</li>
					<li>
						<a href="/news" target="_blank">
							<button class="buttonhome">news</button>
						</a>
					</li>
					<li>
						<a href="/contact" target="_blank">
							<button class="buttonhome">contact</button>
						</a>
					</li>
				</ul>
			</div>
			<div id="contactform">
				<form action="MAILTO:atkolanko@gmail.com" method="post" enctype="text/plain">
					name:<br>
					<input type="text" name="name" size="40"><br>
					email:<br>
					<input type="text" name="email" size="40"><br>
					message:<br>
					<textarea rows="15" cols="40">your message...</textarea><br>
					<input class="sub" type="submit" value="send">
				</form>
			</div>
			<div class="clear">
			</div>
			<div id="footer">
				&copy 2014 <a href="http://www.aleksandrakolanko.com" target="_blank"> aleksandra kolanko</a>
			</div>
		</div>
	</body>
</html>