<!DOCTYPE html>
<html>
	<head>
		<title>
			gallery
		</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="header">
			<a href="/" target="_blank">
				aleksandra kolanko
			</a>
		</div>
		<div id="container">
			<div id="navside">
				<ul id="navcol">
					<li>
						<a href="/gallery" target="_blank">
							<button class="buttonhome">gallery</button>
						</a>
					</li>
					<li>
						<a href="http://www.etsy.com/shop/AleksandraKolanko" target="_blank">
							<button class="buttonhome">shop</button>
						</a>
					</li>
					<li>
						<a href="/news" target="_blank">
							<button class="buttonhome">news</button>
						</a>
					</li>
					<li>
						<a href="/contact" target="_blank">
							<button class="buttonhome">contact</button>
						</a>
					</li>
				</ul>
			</div>
			<div id="gridwrap">
				<img class="grid" src="grid3.jpg" height="140px"/>
				<img class="grid" src="grid1.jpg" height="140px"/>
				<img class="grid" src="grid11.png" height="140px"/>
				<img class="grid" src="grid6.jpg" height="140px"/>
				<img class="grid" src="grid2.jpg" height="140px"/>
				<img class="grid" src="grid9.jpg" height="140px"/>
				<img class="grid" src="grid4.jpg" height="140px"/>
				<img class="grid" src="grid5.jpg" height="140px"/>
				<img class="grid" src="grid10.jpg" height="140px"/>
				<img class="grid" src="grid14.png" height="140px"/>
				<img class="grid" src="grid13.jpg" height="140px"/>
				<img class="grid" src="grid16.jpg" height="140px"/>
			</div>
			<div class="clear">
			</div>
			<div id="footer">
				&copy 2014 <a href="http://www.aleksandrakolanko.com" target="_blank"> aleksandra kolanko</a>
			</div>
		</div>
	</body>
</html>