<!DOCTYPE html>
<html>
	<head>
		<title>
			aleksandra kolanko
		</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="header">
			<a href="/" target="_blank">
				aleksandra kolanko
			</a>
		</div>
		<div id="container">
			<div id="navside">
				<ul id="navcol">
					<li>
						<a href="/gallery" target="_blank">
							<button class="buttonhome">gallery</button>
						</a>
					</li>
					<li>
						<a href="http://www.etsy.com/shop/AleksandraKolanko" target="_blank">
							<button class="buttonhome">shop</button>
						</a>
					</li>
					<li>
						<a href="/news" target="_blank">
							<button class="buttonhome">news</button>
						</a>
					</li>
					<li>
						<a href="/contact" target="_blank">
							<button class="buttonhome">contact</button>
						</a>
					</li>
				</ul>
			</div>
			<div id="homeimage">
				<img src="Scan134.jpg" alt="advertisement" width="500px"/>
			</div>
			<div class="clear">
			</div>
			<div id="footer">
				&copy 2014 <a href="http://www.aleksandrakolanko.com" target="_blank"> aleksandra kolanko</a>
			</div>
		</div>
	</body>
</html>