<!DOCTYPE html>
<html>
	<head>
		<title>
			news
		</title>
		<link href="style.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="header">
			<a href="/" target="_blank">
				aleksandra kolanko
			</a>
		</div>
		<div id="container">
			<div id="navside">
				<ul id="navcol">
					<li>
						<a href="/gallery" target="_blank">
							<button class="buttonhome">gallery</button>
						</a>
					</li>
					<li>
						<a href="http://www.etsy.com/shop/AleksandraKolanko" target="_blank">
							<button class="buttonhome">shop</button>
						</a>
					</li>
					<li>
						<a href="/news" target="_blank">
							<button class="buttonhome">news</button>
						</a>
					</li>
					<li>
						<a href="/contact" target="_blank">
							<button class="buttonhome">contact</button>
						</a>
					</li>
				</ul>
			</div>

			<div id="column1">
				<h3 class="posttitle"><a href="http://panandthedream.tumblr.com/post/63971812233/aleksandra-kolanko-bra-top-made-to-order" target="_blank">pan and the dream</a></h3>
				<img class="postimg" src="pan.jpg" alt="panandthedream" width=" 250px"/>
				<p>
					<span class="postdate">october</span> 13, 2013<br><br>
					aleksandra kolanko bra top made to order www.aleksandrakolanko.com...
				</p><br>
				<h3 class="posttitle"><a href="http://kakaji.tumblr.com/post/27385409057/aleksandra-kolanko-who-combines-fine-art" target="_blank">kakaji</a></h3>
				<img class="postimg" src="kakaji.jpg" alt="kakaji" width=" 400px"/>
				<p>
					<span class="postdate">july</span> 17, 2012<br><br>
					aleksandra kolanko, who combines fine art, performance art, fashion, installation, advertising and photography in her own billboards...
				</p>
			</div>
			<div id="column2">
				<div id="socialfix">
					<h4 id="follow">follow</h4>
					<ul id="media">
						<li>
							<a class="social" href="http://instagram.com/aleksandrakolanko" target="_blank">
								instagram
							</a>
						</li>
						<li>
							<a class="social" href="https://twitter.com/aleksndrakolnko" target="_blank">
								twitter
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clear">
			</div>
			<div id="footer">
				&copy 2014 <a href="http://www.aleksandrakolanko.com" target="_blank"> aleksandra kolanko</a>
			</div>
		</div>
	</body>
</html>